{
	"ts_update":1759433491271,
	"url_project":"https://github.com/Netcracker/qubership-testing-platform-environments/parent/parent-dependencies/env-distribution",
	"url_oss_index":"https://ossindex.sonatype.org/component/pkg:maven/org.qubership.atp.environments/env-distribution@1.5.93",
	"contributors":[
		"Netcracker"
	],
	"url_scm":"scm:git:https://github.com/Netcracker/qubership-testing-platform-environments/tree/main/parent/parent-dependencies/env-distribution"
}